<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="index.css">
        <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    </head>
    <body>

        <div id="app">
            {{ a }}
        </div>

        <div id="app2" v-bind:class="classObject">クラス名をコンソールで確認</div>

        <div id="app3" v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
            app3
        </div>

        <div id="app4" v-bind:style="styleObject">app4</div>

        <h3>配列構文</h3>
        <div id="app5" v-bind:class="[activeClass, errorClass]">コンソールでクラスを確認</div>




        <h3>コンポーネントの基本</h3>

        <div id="components-demo">
            <button-counter></button-counter>
            <button-counter></button-counter>
        </div>

        <div id="app6">
            <h1 v-if="ok">Yes</h1>
            <h1 v-else>No</h1>
        </div>

        <div id="no-key-example" class="demo">
            <div>
                <template v-if="loginType === 'username'">
                    <label>Username</label>
                    <input placeholder="Enter your username">
                </template>
                <template v-else>
                    <label>Email</label>
                    <input placeholder="Enter your email address">
                </template>

            </div>
            <button v-on:click="typeChange()">Toggle login type 2</button>

            <button onclick="changeType()">Toggle login type</button>

        </div>





        <script src="index2.js"></script>
    </body>
</html>