<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="index.css">
        <script type="text/javascript" src="../node_modules/vue/dist/vue.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    </head>
    <body>
        
        <div id="app">
            {{ a }}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div>

        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>

 
        <div id="app-7">
            <ol>
                <!-- 
                各 todo-item の内容を表す todo オブジェクトを与えます。
                これにより内容は動的に変化します。
                また後述する "key" を各コンポーネントに提供する必要があります。
                -->
                <do-item
                    v-for="item in groceryList"
                    v-bind:do="item"
                    v-bind:key="item.id"
                ></do-item>
            </ol>
        </div>

        <div id="ex-1">
            <p>{{ a }}</p>
            <p>{{ b }}</p>
        </div>

        <div id="example">
            <p>{{ c }}</p>
            <p>{{ d }}</p>
        </div>
        
        <div id="example-2">
            <p>{{ a }}</p>
            <p v-html="a"></p>
            <p v-bind:id="a">{{b + 100}}</p>
            <p>{{ c ? "true":"false" }}</p>
            <p v-if="seen">Now you see me</p>
            <p><a v-bind:href="url"> リンク </a></p>
        </div>

        <div id="example-1">
            <button v-on:click="counter += 1">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>

            <div v-bind:class="{ active: isActive }">
                <h3>active: isActive</h3>
            </div>

        </div>

        <div id="example-0">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
            <p>now: "{{ now }}"</p>
        </div>


        <div id="watch-example">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
            <img v-bind:src="src" width="300">
        </div>

        <script src="index.js"></script>
    </body>
</html>